/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header .logo h1 {
    font-size: 2.5rem;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* セクション共通のスタイル */
.section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* フッター専用のスタイル */
#guestLive footer {
    position: relative;
    max-width: 1400px;  /* .sectionのmax-widthを上書き */
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%;
    position: relative; /* 相対位置に変更 */
    bottom: 0;         /* 下部に配置 */
    margin-top: auto;  /* 上部の余白を自動調整 */
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

/* Responsive design */
@media (max-width: 768px) {
    header .logo h1 {
        font-size: 2rem;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0;
    }

    .section {
        padding: 20px 10px;
    }

    .section h2 {
        font-size: 1.5rem;
    }

    footer {
        font-size: 0.8rem;
    }
}
